@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('../fonts/colablig-webfont.eot');
    src: url('../fonts/colablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colablig-webfont.woff') format('woff'),
         url('../fonts/colablig-webfont.ttf') format('truetype'),
         url('../fonts/colablig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    margin:0px;
	padding:0px;
	background: url(../images/header_bg.gif) top left repeat-x #FFF;
	color:#7d5555;
	font-family: 'Droid Sans', sans-serif;
	font-size:13px;
	line-height:20px;
}
div.header{
    width:944px;
	height:90px;
	margin:0px auto;
}
div.header .title{
	width:399px;
	height:67px;
	font:Arial;
	font-size:15pt;
	line-height:30px;
	font-weight:normal;
	margin:0px 0px auto;
}
div.header h1{
	width:127px;
	height:67px;
	padding:0;
	float:left;
	margin:5px 0 0 0px;
}
div.header h1 a{
	width:227px;
	height:67px;
	display:block;
	background:url(../images/logo_trendwise.jpg) no-repeat left;
	text-indent:-9999px;
}
/*----Main Menu----*/
div.mainMenu{
	float:right;
	width:540px;
	height:67px;
	margin-top:-68px;
	border: 1px ;
}
div.mainMenu ul{
	margin:0px;
	padding:0px;
}
div.mainMenu ul li{
	float:left;
	margin:0 1px 0 0;
	padding:0 0 0  0;
	font-size:15px;
}
div.mainMenu ul li a{
	color:#303030;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	display: block;
    height: 25px;
    width: 80px;
    text-align: center;
	line-height:30px;
	font-weight:normal;
    /*text-transform: uppercase;*/
}

div.mainMenu ul li a:hover, div.mainMenu ul li a.active{
	color:#F0F0F0;
	background:url(../images/nav_over.gif) top center no-repeat; 
}

/* ----Banner ----*/
div.banner{
	height:336px; /* old value 336 */
	width:948px;
	margin:10px auto;
}
div.bannerSlider{
	height:336px;
	width:948px;
	float:left;
	overflow:hidden;
	position:relative;
}
/* ----Banner Inside ----*/
div.banner_inside{
	height:213px;
	width:948px;
	margin:0px auto;
	margin-bottom:19px;
}
div.serviceTabs{
	height:30px;
	width:943px;
	margin:5px 0px auto;
	padding-top:1px;
	margin-bottom:1px;
	border:1px;
}
div.serviceTabs li{
	height:30px;
	width:154px;
	float:left;
	display:block;
	margin-right:1px;
	padding-left:1px;
	border: 1px ;
	background:url(../images/service_tabBg.gif) no-repeat;
}
div.serviceTabs li .pic{
	height:60px;
	width:82px;
	margin:0px auto;
	display:block;
	margin-top:9px;
	margin-bottom:6px;
}
div.serviceTabs li H1{
	display:block;
	font-size:18px;
	text-align:center;
	line-height:22px;
	padding:0;
	font-family: 'Arial';
}
div.serviceTabs li A {
	display:block;
	margin-top:4px;
	color:#2658AA;
	text-align:center;
	font-size:16px;
	padding-top:1px;
	font-family: 'Arial';
}
div.serviceTabs li A:hover.more{
	color:#000;
}
/* ----Middle Area ----*/
div.middle{
	width:944px;
	margin:0px auto;
	padding-bottom:25px;
}
div.middle H1{
	display:block;
	padding-bottom:20px;
	font-size:25px;
	/*text-transform:uppercase;*/
	font-family: 'ColaborateLightRegular';
}
div.middle H2{
	display:block;
	padding-bottom:8px;
	font-size:20px;
	font-family: 'ColaborateLightRegular';
}
div.contentBox{
	width:300px;
	display:block;
	float:left;
	height:auto;
	min-height:230px;
	margin:0px 15px 0 0px;
}
div.contentBox H1{
	display:block;
	margin-bottom:6px;
	padding-bottom:5px;
	font-size:18px;
	/*text-transform:uppercase; */
	font-family: 'ColaborateLightRegular'; 
	background:url(../images/tile_head.gif) left bottom repeat-x;
}
div.contentBox img{
	width:292px;
	height:95px;
	display:block;
	border:#efefef solid 4px;
	margin-bottom:5px;
}
div.contentBox span{
	font-size:12px;
	text-shadow: 0 0 1px #dfdcdc;
	-moz-text-shadow: 0 0 1px #dfdcdc;
	-o-text-shadow: 0 0 1px #dfdcdc;
	-webkit-text-shadow: 0 0 1px #dfdcdc;
}
div.contentBox A{
	color:#4bafc7;
}
div.contentBox A:hover{
	color:#4bafc7;
	text-decoration:underline;
}
div.middle .serviceContainer{
	display:block;
}
div.middle .serviceContainer .right{
	display:block;
	width:880px;
	float:right;
	padding-top:13px;
}
div.middle .serviceContainer .pic{
	display:block;
	width:50px;
	height:50px;
	float:left;
}
ul.listing{
	display:block;
	list-style:none;
}
ul.listing li{
	display:block;
	margin-bottom:10px;
	line-height:18px;
	padding:0px 0 0px 20px;
	background:url(../images/bullets.gif) 0 3px no-repeat
}
DIV.contactDtls{
	float:left;
	width:250px;
	height:auto;
}
DIV.contactDtls strong{
	display:block;
	padding:0px 0 0 0;
}
DIV.contactDtls span{
	color:#4BAFC7;
}
DIV.contactDtls A:hover{
	color:#4BAFC7;
}
DIV.contactMap{
	width:500px;
	float:left;
}
DIV.contactMap .mapbtn{
	margin:5px 0 0 0;
	font-size:12px;
	font-weight:bold;
	background:url(../images/arrow.gif) left 7px no-repeat;
	padding:0 0 0 10px;
	display:block;
}
DIV.contactMap A:hover{
	color:#4BAFC7;
}
#topcontrol{
bottom:20% !important;
}

/* ----footer ----*/
div.footerContainer{
	background:url(../images/footer_tileBg.gif) top repeat-x;
	display:block;
}
div.footer{
	width:944px;
	margin:0px auto;
	min-height:230px;
	padding:14px 0 0 0;
	background:url(../images/footer_bg.jpg) top center no-repeat;
}
ul.footerLinks{
	float:left;
	width:201px;
	color:#808080;
	font-size:13px;
	margin-right:35px;
}
ul.footerLinks H1{
	color:#424141;
	font-size:22px;
	display:block;
	padding-bottom:5px;
	font-family: 'ColaborateLightRegular';
	background:url(../images/tile_head.gif) left bottom repeat-x;
}
ul.footerLinks li{
	color:#808080;
	display:block;
	padding:5px 0 5px 13px;
	border-bottom:#d0cfcf solid 1px;
	background:url(../images/arrow.gif) left 11px no-repeat;
}
ul.footerLinks li.last{
	border-bottom:none;
}
ul.social{
	float:left;
	width:135px;
	color:#808080;
	font-size:13px;
	margin-right:35px;
}
ul.social H1{
	color:#424141;
	font-size:22px;
	display:block;
	padding-bottom:5px;
	margin-bottom:10px;
	font-family: 'ColaborateLightRegular';
	background:url(../images/tile_head.gif) left bottom repeat-x;
}
ul.social li{
	color:#808080;
	display:block;
	line-height:26px;
	margin-bottom:2px;
	padding-bottom:3px;
}
ul.social li img{
	display:block;
	float:left;
	margin-right:7px;
}
.footer a{
	color:#808080;
	text-decoration:none;
}
.footer a:hover, .footer a.active{
     color:#474747;
	 text-decoration:none;
}
ul.footerContact{
	float:right;
	width:302px;
	color:#808080;
	font-size:12px;
}
ul.footerContact H1{
	color:#424141;
	font-size:22px;
	display:block;
	padding-bottom:5px;
	margin-bottom:10px;
	font-family: 'ColaborateLightRegular';
	background:url(../images/tile_head.gif) left bottom repeat-x;
}
.footerContact .textfield {
	font-size:12px;
	background:url(../images/footer_field_bg.gif) no-repeat;
	border:none;
	width:292px;
	height:31px;
	display:block;
	padding:0px 0 0 10px;
	color:#908d8d;
	line-height:30px;
	margin-bottom:5px;
}
.footerContact .textArea{
	font-size:12px;
	background:url(../images/footer_fieldArea_bg.gif) no-repeat;
	border:none;
	width:292px;
	padding:4px 0 0 10px;
	height:66px;
	color:#908d8d;
	display:block;
	margin-bottom:5px;
}
.footerContact .send {
	background:url(../images/submit.gif) no-repeat;
	width:110px;
	float:left;
	height:35px;
	border:0;
	cursor:pointer;
	}
.copyright{
	font-size:12px;
	color:#a1a1a1;
	display:block;
	margin-top:12px;
	padding:12px 0;
	background:url(../images/line.gif) top left repeat-x;
}
.copyright span{
	text-align:right;
	float:right;
}
.copyright a{
	color:#4bafc7;
	text-decoration:none;
}
